
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #E6971A;
}

a:hover {
  color: #E6971A;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  padding: 20px 0;
  z-index: 10;
  position: relative;
}

#header .logo img {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  width: 20%;
}

 /*-----------------------------------------------
 # INCEPUT MEDIA QUERIES
 -------------------------------------------------*/
 @media (max-width: 991.98px) { /* Pentru TABLETE */
  #header .logo {
    text-align: center;
  }

  #header .logo img {
    margin: 0 !important;
    width: 50%;
  }

  #hero {
    background-position-x: 90% !important;
  }

  .countdown_timer ul li {
    font-size: 1rem !important;
  }
}

@media (max-width: 767.98px) { /* Pentru Tablete */
  #header .logo {
    text-align: center;
  }

  #header .logo img {
    margin: 0 !important;
    width: 50%;
  }

  #hero {
    background-position-x: 90% !important;
  }

  .countdown_timer ul li {
    font-size: 1rem !important;
  }
}

@media (max-width: 575.98px) { /* Pentru TELEFOANE */
  #header .logo {
    text-align: center;
  }

  #header .logo img {
    margin: 0 !important;
    width: 65% !important;
  }

  #hero {
    background-position-x: 90% !important;
  }

  #hero .sageata_rand {
    padding-top: 200px;
  }

  .countdown_timer ul li span,
  .countdown_timer ul li{
    font-size: 22px !important;
    padding: 8px !important;
  }
  
  .about .discord-invite-button{
    text-align: center !important; 
  }

  .about .discord-invite-button img{
    width: 50% !important;
  }

  .faq .social-media-links{ 
    padding-bottom: 30px; 
  } 

  .faq .first-col{
    padding-top: 30px; 
  }

  .faq .image-holder img{
    float: right; 
  }

  .faq .subscribe-form input{
    width: 100% !important;
    margin-bottom: 20px;
  }
  
}

 /*-----------------------------------------------
 # SFARSIT MEDIA QUERIES
 -------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  right: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(29, 29, 29, 0.8);
  transition: 0.4s;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul li img {
  width: 60%;
}
.nav-menu a, .nav-menu a:focus {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
}
.nav-menu a:hover, 
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #ff914d;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.787);
}

.nav-menu .drop-down > a:after {
  content: "\ea27";
  font-family: "boxicons";
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.nav-menu .active.drop-down > a:after {
  content: "\ea27";
}
.nav-menu .drop-down > a {
  padding-right: 35px;
}
.nav-menu .drop-down ul {
  display: none;
  overflow: hidden;
}
.nav-menu ul.drop-down-active {
  display: block;
}
.nav-menu .drop-down li {
  padding-left: 20px;
}

.nav-menu-active {
  right: 0;
}

.nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  padding: 10px 12px;
  border-radius: 5px;
}
.nav-toggle i {
  color: #fff;
  font-size: 18px;
}

.nav-toggle-active {
  right: 275px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #884922;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fd680e;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #fd680e;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #fd7827;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #fd680e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #743e1d;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(75, 40, 19, 0.9);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:hover {
  padding: 10px 20px;
  font-size: 15px;
  color: #743e1d;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fd680e;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fd680e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/* Countdown timer */

.countdown_timer ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: rgb(231, 231, 231);
}

.countdown_timer ul li span {
  display: block;
  font-size: 3rem;
}
.countdown_timer #cntdown_h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700 !important;
  font-size: 22px;
}

.countdown_timer {
  padding-top: 20px;
  text-align: center !important;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg_without_logo.jpg") rgba(29, 29, 31, 0.65) no-repeat fixed;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
  margin-top: -80px;
  z-index: 9;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  font-family: 'Cormorant SC', serif;
  margin: 100px 0 10px 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  line-height: 56px;
  color: rgb(228, 228, 228);
  font-weight: 600;
}

#hero h2 {
  font-family: 'Cormorant SC', serif;
  color: rgb(228, 228, 228);
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
}
/* Float effect by Toni */
#hero .link {
  text-decoration: none !important;
}

.float-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.float-on-hover:hover, .float-on-hover:focus, .float-on-hover:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#hero .sageata_rand {
  padding-top: 50px;
}

#hero .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#hero .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#hero .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}
#hero .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}
@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#hero .php-email-form input {
  border-radius: 50px;
  box-shadow: none;
  font-size: 14px;
  border: 0;
  padding: 0px 15px 2px 20px;
  width: 250px;
  height: 40px;
  margin: 0 8px;
}
#hero .php-email-form button[type=submit] {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: none;
  color: #fff;
  background: #fd680e;
}
#hero .php-email-form button[type=submit]:hover {
  background: #fd8841;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .php-email-form input {
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #243804d7;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  color: rgb(238, 238, 238);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 1px;
  background: rgb(238, 238, 238);
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
  color: #666666;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h2 {
  font-family: 'Cormorant SC', serif;
  font-weight: 600;
  font-size: 36px;
}

.about p {
  font-family: 'Cormorant Bold', serif;
  font-weight: 300 !important;
  font-size: large;
}

.about ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about ul li {
  font-family: 'Cormorant Bold', serif;
  font-weight: 400 !important;
  font-size: large;
  padding-bottom: 10px;
}
.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #347d03;
}
.about p:last-child {
  margin-bottom: 0;
}

.about .discord-invite-button{
  padding-top: 20px;
  margin-bottom: -30px;
  text-align: right;
}

.about .discord-invite-button img{
  width: 30%;
  margin-bottom: 0px !important;
}


/* Zoom on image hover effect start */

.img-hover-zoom img {
  transition: transform .4s ease-in-out;
}

.img-hover-zoom:hover img {
  transform: scale(1.3);
}
/* Zoom on image hover effect end */


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding-bottom: 30px;
  background: url("../img/about-bg.jpg") rgba(80, 80, 84, 0.65) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative; 
  z-index: 9;
}
.why-us .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.why-us .card-icon {
  text-align: center; 
  margin-top: -32px;
}

.why-us .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 10px;
  text-align: center;
  background-color: #fd680e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}
.why-us .card-body {
  padding-top: 12px;
}
.why-us .card-title {
  font-weight: 700;
  text-align: center;
}
.why-us .card-title a {
  color: #743e1d;
}
.why-us .card-title a:hover {
  color: #fd680e;
}
.why-us .card-text {
  color: #5e5e5e;
}
.why-us .card:hover .card-icon i {
  background: #fff;
  color: #fd680e;
}

.join-discord-ideas{
  padding-top: 1.8em;
  text-align: center; 
}

.join-discord-ideas h3{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500 !important;
  font-size: 22px;
}

.join-discord-ideas h2{
  font-family: 'Cormorant SC', serif;
  font-weight: 700 !important;  
  font-size: 36px;
}

@media (max-width: 1024px) {
  .why-us {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------
# Frequenty Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-bottom: 60px;
  background: url("../img/contact-bg.jpg") rgba(80, 80, 84, 0.65) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative; 
  z-index: 9;
}

.faq .join-discord-ideas h2,
.faq .join-discord-ideas h3{
  color: white;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  color: #E6971A;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list a:hover {
  display: block;
  position: relative;
  font-family: #E6971A;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}
.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: #e9e9e9;
  font-size: 1.1em;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #e9e9e9;
  font-weight: 500;
}
.faq .faq-list a.collapsed:hover {
  color: #E6971A;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.faq .image-holder img{
  width: 70%;
}

.faq .first-col{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 25px;
}

.faq .subscribe-form {
  display: table-cell; 
  width: 100%;
}

.faq .subscribe-form h3{
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 700;
}

.faq .subscribe-form .thank-you-image{
  width: 100%; 
}

.faq .subscribe-form .thank-you-image img{
  width: 80%;
  border-radius: 25px;
}

.faq .subscribe-form p{
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 700;
  font-size: larger;
}

.faq .subscribe-form input{
  width: 60%;
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  background-color: #5b5b5b1c;
  transition: .1s ease-in;
}

.faq .subscribe-form input:focus,
.faq .subscribe-form textarea:focus{ 
  outline: none !important; 
  background-color: #7e7e7e1a;
  transition: .1s ease-in;
}

.faq .subscribe-form #subscribe-btn{
  width: fit-content; 
  margin-left: 10px;
  border-radius: 25px;  
  background-color: rgb(38, 38, 38);
  color: white;
  transition: 0.2s ease-out; 
}

.faq .subscribe-form #subscribe-btn:hover{
  background-color: white;
  color: rgb(44, 44, 44);
  transition: 0.1s ease-in;
}

.faq .social-media-links .col{ 
  padding-top: 30px;
  flex-grow: unset !important;
}

.faq .social-media-links{ 
  justify-content: center; 
} 

.contact-row{ 
  background-color: #18d26e;
}

/* Contact form */

/* Contact form end */

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  color: #444444;
}
.contact .info i {
  font-size: 32px;
  color: #fd680e;
  float: left;
}
.contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5a2c10;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.contact .social-links a:hover {
  background: #fd680e;
  color: #fff;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #fd680e;
}
.contact .php-email-form button[type=submit] {
  background: #fd680e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #fd8841;
}
@media (max-width: 768px) {
  .contact .social-links {
    text-align: center;
  }
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #181818;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-logo-container img{
  width: 70%; 
}

#footer .footer-logo-container{
  width: 100%;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 18px;
}

#footer h4{
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 28px;
}